* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
  color: #f9f9f9;
  font-family: "Euclid Circular A";
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

body > div {
  flex: 0 0 120px;
  text-align: center;
}

.switch {
  display: inline-block;
}

.switch input {
  display: none;
}

.switch label {
  display: block;
  width: 60px;
  height: 30px;
  padding: 3px;
  border-radius: 15px;
  border: 2px solid #7e8382;
  cursor: pointer;
  transition: 0.3s;
}

.switch label::after {
  content: "";
  display: inherit;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: #7e8382;
  transition: 0.3s;
}

.switch input:checked ~ label {
  border-color: #25c89c;
}

.switch input:checked ~ label::after {
  translate: 30px 0;
  background: #25c89c;
}

.switch input:disabled ~ label {
  opacity: 0.35;
  cursor: not-allowed;
}

.switch.square label,
.switch.square label::after {
  border-radius: 0;
}
